<div class="container">
    <h2>Personal Information</h2>
    <p><strong>Name:</strong> {{ patient.name }}</p>
    <p><strong>Age:</strong> {{ patient.age }}</p>
    <button class="button" (click)="viewMedicalRecords(patient.id)">View medical records</button>
</div>

<div class="container">
    <h2>Share your Medical Record</h2>
    <div>
      <label for="doctor"><strong>Doctor:</strong></label>
      <select id="doctor" name="doctor" class="custom-select" [(ngModel)]="selectedDoctor">
        <option value="" disabled selected>Select a doctor</option>
        <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{ doctor.name }}</option>
      </select>
    </div>
    <button type="button" class="button" (click)="grantAccess()">Submit</button> 

    <div *ngIf="accessGranted" class="container1">
        <!-- Other content -->
        <div class="access-message">Access granted to the selected doctor!</div>
    </div>

</div>

<div class="container">
    <h2>Current EMR access holders</h2>
    <table>
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Speciality</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let access of accessHolders">
                <td>{{ access.name }}</td>
                <td>{{ access.specialization }}</td>
                <td><button class="revoke-btn" (click)="revokeAccess(access.doctorId)">Revoke access</button></td>
            </tr>
        </tbody>
    </table>
</div>